/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.header-buttom {
    width: 100%;
}

.clearfix::after {
	content: “”;
	display: table;
	clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.buttom {
    border-radius: 5px;
    padding: 9px;
    color:white;
    background: linear-gradient(white, black);
    margin: 20px 20px 20px 0;
}
.speaker-view,
.icon {
    font-size: .9em;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.video {
    width: 250px;
    height: 200px;
    padding: 5px;
    object-fit: cover;
}

div.contain p {
    color:white;
    position: absolute;
    bottom: 10px;
    left: 5px;
    background-color: black;
    opacity: 0.8;   
}

.fas {
    padding: 5px;
}

.contain {
    position: relative;
}

ul {
    list-style-type: none;
}

nav li {
    color:white;
    padding: 15px 0 20px 15px;
    display: inline-block;
    max-width: 165px;
    min-width: 100px;
}

nav {
    width: 100%;
    background: linear-gradient(rgb(46, 46, 46), black);
}

.nav-sinistra,
.nav-destra {
    width: 20%;
}

.nav-centrale {
    width: 60%;
}


.col-destra,
.col-sinistra {
    display: inline-block;
    vertical-align: center;

}

.fa-microphone,
.fa-video,
.fa-user-plus,
.fa-user-friends,
.fa-poll,
.fa-desktop,
.fa-comment-dots,
.fa-record-vinyl,
.fa-border-all {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}


.fa-angle-up {
    height: 50px;
    vertical-align: middle;
    padding: 0 10px;
    font-size: 1.2em;
}

ul.nav-centrale {

}

.color-green {
    color: greenyellow;
}


ul.nav-destra li p {
    color: red;
    line-height: 50px;
    font-size: 1.1em;
    padding: 0 20px;
    background-color: #4d4c4c;;
}

.container-flex-footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.container-flex-destra {
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
}

a {
    text-decoration: none;
    color: white;
}
